sudo: true

service:
  - docker

install: true

jobs:
  include:
    # - stage: build sklean docker image
    #   script:
    #   - export DMAINREPO=$DOCKER_NAMESPACE/sklearn-amd64
    #   - export VERSION=0.1.0
    #   - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
    #   - docker build -t $DMAINREPO:$VERSION -f build/DockerFile.sklearn-amd64 .
    #   - docker tag $DMAINREPO:$VERSION $DMAINREPO:latest
    #   - docker tag $DMAINREPO:$VERSION $DMAINREPO:travis-$TRAVIS_BUILD_NUMBER
    #   - docker push -a $DMAINREPO
    - stage: build predicting docker image
      script:
      - export DMAINREPO=$DOCKER_NAMESPACE/predictionapp-amd64
      - export VERSION=0.4.0
      - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
      - docker build -t $DMAINREPO:$VERSION -f build/DockerFile.app-amd64 .
      - docker tag $DMAINREPO:$VERSION $DMAINREPO:latest
      - docker tag $DMAINREPO:$VERSION $DMAINREPO:travis-$TRAVIS_BUILD_NUMBER
      - docker push -a $DMAINREPO
    - stage: test docker image
      script:
      - export DMAINREPO=$DOCKER_NAMESPACE/predictionapp
      - export VERSION=0.4.0
      - docker run -d --name test_predictionapp $DMAINREPO:$VERSION
      - docker ps | grep -q test_predictionapp